{% extends "base.html" %}

{% block content %}

<style>
.config {
  height: 180px;
  white-space: nowrap;
  text-align: center;
}
.config > div {
  display: inline-block;
  transform: rotate(-90deg);
  width: 20px;
}
.config > div > span {
  padding: 0 8px;
}
.punter {
  vertical-align: middle !important;
}
.cell {
  text-align: center;
  vertical-align: middle !important;
}
.cell.value {
  font-size: 12px;
}
a.textlike {
  color: inherit;
}
</style>

<form action="/" method="GET" class="well pull-right" style="margin: 20px">
  <select name="label">
    {% for l in labels %}
    <option value="{{ l }}" {% if l == label %}selected="selected"{% endif %}>{{ l }}</option>
    {% endfor %}
  </select>
  <button>Go</button>
</form>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="punter" colspan="2">Map</th>
      {% for config in configs %}
      <th class="config {{ (config in error_configs) and 'danger' }}">
        <div>
          <span><a class="textlike" href="/results/?label={{ label }}&amp;map={{ config.split()[0] }}&amp;num_punters={{ config.split()[1] }}&amp;extensions={{ config.split()[3] if config.split()[3] != '-' else '' }}">{{ config.split()[0] }}</a></span>
        </div>
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th class="punter" colspan="2">#Punters</th>
      {% for config in configs %}
      <th class="cell {{ config.split()[1] != '2' and 'warning' }}">
        {{ config.split()[1] }}
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th class="punter" colspan="2">Extensions</th>
      {% for config in configs %}
      <td class="cell" style="font-size: 8px">
        {{ config.split()[2] }}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <th class="punter" colspan="2">Map Stats</th>
      {% for info in infos %}
      <td class="cell" style="font-size: 10px">
        {{ info.num_sites }}<br>
        {{ info.num_rivers }}<br>
        {{ info.num_mines }}
      </td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for punter in punters %}
    <tr>
      <th class="punter {{ total_map[punter] == max_total and 'success' }}">
        <a class="textlike" href="/results/?label={{ label }}&amp;punter={{ punter }}">{{ punter }}</a>
      </th>
      <td class="cell {{ total_map[punter] == max_total and 'success' }}">
        {{ '{:.1f}'.format(total_map[punter]) }}
      </td>
      {% for config in configs %}
      {% set cell = matrix[(config, punter)] %}
      <td class="cell value {{ cell.best and 'info' }}">
        <a class="textlike" href="/results/?label={{ label }}&amp;map={{ config.split()[0] }}&amp;num_punters={{ config.split()[1] }}&amp;extensions={{ config.split()[3] if config.split()[3] != '-' else '' }}&amp;punter={{ punter }}">{% if cell.avg %}{{ '{:.1f}'.format(cell.avg) }}{% else %}-{% endif %}<br>({{ cell.count }})</a>
      </td>
      {% endfor %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th class="punter" colspan="2">
        Times
      </th>
      {% for time in times %}
      <td class="cell value">
        {{ '{:.1f}'.format(time.max) }}
      </td>
      {% endfor %}
    </tr>
  </tfoot>
</table>

<div style="text-align: right">
  Jobs: running {{ num_running_jobs }}, finished {{ num_finished_jobs }}, total {{ num_all_jobs }}
</div>

{% endblock %}
