{% extends "base.html" %}

{% block content %}

<style>
.config {
  height: 180px;
  white-space: nowrap;
  text-align: center;
}
.config > div {
  display: inline-block;
  transform: rotate(-90deg);
  width: 30px;
}
.config > div > span {
  padding: 0 8px;
}
.punter {
  width: 200px;
}
.cell {
  text-align: center;
}
</style>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="punter"></th>
      {% for config in configs %}
      <th class="config">
        <div>
          <span>{{ config }}</span>
        </div>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for punter in punters %}
    <tr>
      <th class="punter">{{ punter }}</th>
      {% for config in configs %}
      {% set cell = matrix[(config, punter)] %}
      <td class="cell {{ cell.best and 'info' }}">
        {{ '{:.1f}'.format(cell.avg) }} ({{ cell.count }})
      </td>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
