{% extends "base.html" %}

{% block content %}

<style>
th.rotate {
  height: 180px;
  white-space: nowrap;
}
th.rotate > div {
  transform: rotate(-90deg);
  width: 30px;
}
th.rotate > div > span {
  padding: 0 8px;
}
</style>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      {% for map in maps %}
      <th class="rotate">
        <div>
          <span>{{ map }}</span>
        </div>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for punter in punters %}
    <tr>
      <th>{{ punter }}</th>
      {% for map in maps %}
      {% set cell = matrix[(map, punter)] %}
      <td class="{{ cell.best and 'info' }}">
        {{ '{:.1f}'.format(cell.avg) }} ({{ cell.count }})
      </td>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
